h1 {text-align: center}

#P1 {color: red}
#P2 {color:blue}
#P3 {color:green}
#P4 {font-size:x-large}
#P5 {font-size:x-small}
#P6 {text-align: center}
#P7 {font-weight: bold}
#P8 {font-family:Arial, Helvetica, sans-serif}
#P9 {font-size:x-large; color: orange;font-weight:bold}

.styledFont {color:green;font-family:Arial, Helvetica, sans-serif}

#styledImage {border-style:solid; border-width: 5px; border-color:orange}